
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.order-button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  height: 56px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition);
  border: none;
}
.order-button:hover,
.order-button:focus {
  background-color: red;
}

/* ORDER */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}
.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  top: 50%;
  left: 50%;
  max-width: 408px;
  width: calc(100% - 36px);
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--transition);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(0deg) scale(3);
}
.modal-button {
  margin-top: 24px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-self: center;
  cursor: pointer;
  transition: background-color var(--transition);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-x-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background: #3f478e;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color var(--transition), border var(--transition);
}
.x-button:hover,
.x-button:focus {
  border: none;
  fill: #ffffff;
  background-color: var(--accent-color);
}
.modal-icon-x {
  fill: red;
}
.order-form {
  display: flex;
  flex-direction: column;
}
.form-checkbox-item {
  margin-bottom: 24px;
}
.input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transition: fill var(--transition);
  transform: translateY(-50%);
  color: #8e8f99;
}

.modal-button:hover,
.modal-button:focus {
  background: rgba(64, 75, 191, 1);
}
.check-svg-square {
  display: inline-flex;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
}
.check-svg {
  fill: white;
}
.privacy-checkbox:checked + .check-label > .check-svg-square {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.check-svg-square:hover,
.privacy-checkbox:hover + .check-label > .check-svg {
  border: 1px solid #404bbf;
}

.check-svg-box:hover {
  border: 1px solid #404bbf;
}


.project-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--transition);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}